.footer {
    padding: 1rem 0;
    border-top: 1px solid black;
    text-align: center;
  }
  .footer-copyright {
    font-size: 18px;
  }
  .footer-copyright-link {
    color: #f75023;
    font-weight: bold;
  }
  .footer-copyright-link:hover {
    color: #6f6b80;
  }